@page
@model LudoWeb.Pages.Login

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="css/Login.css">
    <title>@Model.Dictionary.Login_PageHeaderTitle</title>
</head>
<body>
<div>
    
    <div class="Logo">
        <img src="images/LudoBanner_NoShadow.png">
    </div>
    <div class="LoginBox">
        <form>
            <span class="text-center">@Model.Dictionary.Login_BodyTitle</span>
            <div class="input-container">
                <input type="text" required="" id="txt_account"/>
                <label>@Model.Dictionary.Login_AccountName</label>
            </div>
            <div class="input-container">
                <input type="password" required="" id="txt_password"/>
                <label>@Model.Dictionary.Login_Password</label>
            </div>
            <button type="button" onclick="login()" class="btn">@Model.Dictionary.Login_LoginButton</button>
        </form>
    </div>
</div>
</body>
</html>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/login.js"></script>